/* Syntax highlighting */
@import "syntax/xtract.css";

/* Company font */
@font-face {
	font-family: 'Raleway';
	src: url('./fonts/Raleway-Regular.ttf');
}

body {
	background-color: #fff;
	color: #666;
	font-family: Raleway, Arial, sans-serif;
	margin: 0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

header {
	border-top: 1rem solid #0072bc;
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-content: stretch;
}

nav {
	align-self: center;
	display: flex;
	justify-content: flex-begin;
	flex-grow: 11;
	align-items: stretch;
}

a {
	color: #0072bc;
}

a:visited {
	color: #0072bc;
}

a:hover {
	color: #FECD0E;
}

nav a {
	align-self: center;
	flex-basis: 6em;
	text-align: center;
	text-decoration: none;
	font-size: 2em;
}

#logoContainer {
	padding: 0 1vw;
	flex-grow: 1;
	text-align: right;
}

#logo {
	width: 200px;
}

main {
	padding: 0 1.8em;
	flex: 1;
	text-align: justify;
	text-justify: inter-character;
	margin: 0 auto 3rem auto;
	line-height: 144%;
	font-size: 18px;
	max-width: 800px;
	min-width: 300px;
}

hr {
	border: 1px solid #ccc;
}

footer {
	background-color: #0072bc;
	color: #fff;
	display: flex;
	justify-content: flex-end;
}

footer a {
	align-self: center;
	flex-basis: 10em;
	text-align: center;
	text-decoration: none;
}

footer a:visited {
	color: #fff;
}

footer a:hover {
	color: #FECD0E;
}

li.postItem {
	line-height: normal;
}

blockquote {
	background-color: #eee;
	border-left: 1vw solid #0072bc;
	padding: 0.5em;
}

pre.highlight {
	padding: 0.2rem;
}

.postInfo {
	display: inline-block;
	color: #fff;
	background-color: #0072bc;
	text-align: center;
	vertical-align: middle;
	width: 1.2em;
	border-radius: 50%;
	font-family: "Courier New", Courier, mono;
	font-weight: bold;
	cursor: pointer;
	font-size: smaller;
}

.postExcerpt {
	display: block;
	margin-bottom: 1em;
}

table:not(.rouge-table) {
	min-width: 33%;
	border-collapse: collapse;
	border: 1px solid #eee;
}

table:not(.rouge-table) tbody tr:hover {
	background-color: #FECD0E;
	font-weight: bold;
}

table:not(.rouge-table) th {
	padding: 5px 1rem;
	border: 1px solid #ddd;
	border-bottom: none;
	background-color: #0072bc;
	color: #fff;
}

table:not(.rouge-table) td {
	min-width: 3em;
	padding: 5px 1em;
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
}

img {
	max-width: 80%;
}

img[src$='center'] {
	display: block;
	margin: 0 auto;
}

summary {
	cursor: pointer;
	font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h1, h2, h3, h4 {
	text-align: left;
}