<header>
	<!-- <nav> -->
	  <!-- <a href='/' title='Xtract Solutions Documentation Site Home page'>Home</a> -->
	  <!-- <a href='/about/' title='Xtract Solutions Documentation Site About page'>About</a> -->
	  <!-- <a href='{{ site.repo }}' title='Xtract Solutions Documentation Site Github Repository'>Repo</a> -->
	  <!-- <a href='/style-guide/' title='Xtract Solutions Style Guide'>Style Guide</a> -->
	<!-- </nav> -->
	<div id='logoContainer'>
		<a href='http://xtractsolutions.com' title='Xtract Solutions website'><img id='logo' src='/images/logo.png' alt='Xtract Solutions logo' title='Xtract Solutions' /></a>
	</div>
</header>